.column-content {
    border: 8px solid #54b9fd;
    border-radius: 20px;
    width: calc(100% - 40rem);
    height: 40rem;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

.details {
    width: 40rem;
    padding: 1rem;
}

.details h1 {
    font-family: "heading";
}

.details p {
    font-family: "sub-heading";
}

.details ul {
    margin: 1rem 2rem;
}

.details ul li {
    font-family: "sub-heading";

}

.service-images {
    height:30rem;
    width:30rem;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    gap: 2rem;
    padding: 5rem;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition: .5s ease-in;
}
.service-images:hover{
    transform: scale(1.1);
}

.service-images::-webkit-scrollbar {
    display: none;
}

.service-images img {
    height: 20rem;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}
















