* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.service-content {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("public/image/service.jpg");
    background-size: cover;
    padding: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.service-content h1 {
    position: relative;
    z-index: 2;
    font-family: "heading";
    font-size: 3rem;
    color: white;
}

.service-content p {
    font-family: "sub-heading";
    width: 90rem;
}

.columns {
    background-color: #ffffff;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-top: 5rem;

}




@media (max-width: 768px) {
    .service-content {
        height: 200px;
        padding: 2rem;
    }

    .service-content h1 {
        font-size: 2rem;
    }

    .columns {
        padding: 2rem;
        gap: 3rem;
    }
}